<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button> Manage Street Art here
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mask" *ngIf="isUser === true">  
    <div class="the-dismiss" (click)="hideUser()">
      <ion-icon id="edit-icon2" src="../../assets/images/User_Avatar.png" alt=""></ion-icon>
    </div>
    <div class="profile-info" *ngIf="isProfile === true">
      <div class="three-circles">
        <div id="color-one"></div>
        <div id="color-two"></div>
        <div id="color-three"></div>
      </div>
      <div class="profile-div">
        <div class="circle-picture">
          <img *ngIf="!artImage" src="../../assets/images/tcfpicicon.png" alt=""> 
          <img  *ngIf="artImage" src="{{artImage}}" alt="">
        </div>
      </div>
      <div align="center">
        <label for="disapear" align="center">
          <ion-icon color="primary" slot="end" name="camera">
            <input id="disapear" class="image-upload"  type="file"  accept="image/*" (change)="changeListener2($event)" align="center">
          </ion-icon>
        </label>
      </div><br>
      <div align="center">
        <ion-progress-bar value="{{ uploadingprogress/100 }}"></ion-progress-bar>
      </div><br>
      <div *ngIf="!registerForm">
      <div class="the-info">
        <p><b>{{ artName }}</b></p>          
      </div>
      <div class="user-phone">
        <p>R{{ artPrice }}</p>
      </div>
      <div class="user-role">
        <p><b>{{ artSize }}</b></p>
      </div>

      <ion-fab>
        <ion-fab-button id="the-fab" (click)="showRegisterForm()" ><ion-icon name="add"></ion-icon></ion-fab-button>
      </ion-fab>

      <div class="delete">
        <ion-icon name="trash" (click)='deleteuser(artid)'></ion-icon>
      </div>
    </div>
      <!-- end of user-info pop-over -->

    </div>

    <!-- end of add-user pop-over -->
  </div>
  
    <!-- End of View-user0-profile Pop-over -->
    <!-- <div class="background-Logo">
      <img src="../../assets/images/tcficonAvatar.png" alt="">
    </div> -->

  <div class="cont-container" >

    <div padding class="left" >
      <div class="Searhcer">
        <div class="results">
          <!-- <div class='count' *ngIf="artArray.length > 0"> -->
          </div>
        </div>
        <!-- <ion-searchbar name="search" placeholder="Search by Card No" (ionInput)="getItems($event)"></ion-searchbar> -->
      <!-- </div> -->

      <div padding class="profile" *ngFor="let myprofiles  of artArray; let z = index" (click)='AddUser(myprofiles.artid)' (click)="showUser()">
        <div class="names">
           
          <div *ngIf="artArray.length > 0">
              <img class="image" *ngIf="!myprofiles.artimage" src="../../assets/images/User_Avatar.png" alt=""> 
              <img class="image" *ngIf="myprofiles.artimage" src="{{myprofiles.artimage}}" alt="">
            <b>
            <p>{{ myprofiles.artname }}</p> 
            <p>{{ myprofiles.artprice }}</p>
            <p>{{ myprofiles.artsize }}</p>
            </b>
          </div>

          <div *ngIf="artArray.length == 0">
              <img class="image" *ngIf="!myprofiles.artimage" src="../../assets/images/User_Avatar.png" alt=""> 
              <img class="image" *ngIf="myprofiles.artimage" src="{{myprofiles.artimage}}" alt="">

            <p>{{ myprofiles.artname }}</p> 
            <p>{{ myprofiles.artprice }}</p>
            <p>{{ myprofiles.artsize }}</p>
          </div>

        </div>
        </div>

    </div>

    <div class="right" *ngIf="!registerForm" >
      <div class="pic" padding >
     <ion-avatar>
      <img *ngIf="!artImage2" src="../../assets/images/User_Avatar.png" alt=""> 
      <img  *ngIf="artImage2" src="{{artImage2}}" tappable (click)="openPreview(artImage2)" alt="">
      </ion-avatar>
      </div>
      <p id="borderb"></p>
      <div padding class="info" >
        <h4>{{ artName2 }}</h4>
        <h4>R{{ artPrice2 }}</h4>
        <h4>{{ artSize2 }}</h4>
        
        <!-- <h4>Account Blocked : {{ suspendStatus }}</h4> -->
        
        <ion-segment value="no">
          <ion-segment-button value="no">
            <ion-label>No</ion-label>
          </ion-segment-button>
          <ion-segment-button value="yes">
            <ion-label>Yes</ion-label>
          </ion-segment-button>
        </ion-segment>

        <button (click)='deleteuser(artid2)'>delete Art</button>

        <ion-fab>
          <ion-fab-button  (click)="showRegisterForm()" ><ion-icon name="add"></ion-icon></ion-fab-button>
        </ion-fab>

      </div>
      </div>

      <div padding class="registerform"  class="right" *ngIf="registerForm" >
        <ion-button class="close"  fill="clear" (click)="showRegisterForm()" slot="icon-only"><ion-icon name="close-circle"></ion-icon></ion-button>
    
        <h1>Add new Art</h1>
        <ion-avatar>
          <img *ngIf="!image" src="../../assets/images/User_Avatar.png" alt=""> 
          <img  *ngIf="image" src="{{image}}" alt="">
          </ion-avatar>
        <div align="center">
          <label for="disapear" align="center">
            <ion-icon color="primary" slot="end" name="camera">
              <input id="disapear" class="image-upload"  type="file"  accept="image/*" (change)="changeListener2($event)" align="center">
            </ion-icon>
          </label>
        </div><br>

        <input class="inputs" type="text" placeholder="Enter Art Name" [(ngModel)]="name" id="myInput" value="Enter Art Name" >

        <input class="inputs" placeholder="Enter Art Size" [(ngModel)]="size" type="text" id="myInput" value="Enter Art Size" > 

        <input class="inputs" placeholder="Enter Art Price" [(ngModel)]="price" type="text" id="myInput" value="Enter Art Price" > 


       <button ion-button type="reset" onclick="document.getElementById('myInput').value =''" (click)="saveNewArt()" >Add Art</button>
       
         <!-- [ngModelOptions]="{standalone: true}" -->

      </div>

  </div>
</ion-content>
