ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.login-box {
  width: 90%;
  margin: auto;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  //  background-color: hsla(213, 9%, 19%, 0.3);
  .align {
      text-align: right;
      margin: auto;
      padding-top: 6px;
  }
  ion-item {
      // color: white;
  }

.aligned {
  align-content: center;
}

#user-profile{
  height: 60%;
  width: 80%;
  // border: solid 2px black;
  display:flex;
  justify-content: center;
  align-items: center;
}

#user-pic{
  // background: #DAE0E3;
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 100px;
}
#user-pic > img{
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

}

// new code 

.profile {
  //  border: 1px solid blue;
    height: 200px !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    .profilepic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: white;
    }
  h4,p {
  color: white;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 17px;
  }
  #border {
    border: 0.5px solid rgb(185, 184, 184);
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
  }
  }
  
  #names, #position {
  font-family: 'lato';
  font-weight: lighter;
  letter-spacing: 0.8px;
  }
  #position {
    font-size: 12px;
  }
  
  .version {
   // border: 1px solid red;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0 !important;
  
    .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        //border: 1px solid rgb(243, 239, 24);
        margin: 0 !important;
        padding: 0 !important;
        img {
            width: 25px;
            margin: 0 !important;
            padding: 0 !important;
        }
        h3 {
            margin: 0 !important;
            padding: 0 !important;
            font-size: 15px;
            padding-left: 6px !important;
            font-family: 'brandish';
            color: white;
            letter-spacing: 0.7px;
  
        }
    }
  
    .terms {
       // border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
              margin: 0 !important;
        padding: 0 !important;  
        color: white;
        font-family: 'lato';
        font-weight: lighter;
        }
    .small {
        font-size: 10px;
    }
    #smalest {
        padding: 5px !important;
        text-align: center;
    }
    }
  }