<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          
          <div class="login-box" *ngFor="let user of userProfile">
            <div id="user-profile" class="align">
              <div id="user-pic" class="align">
                  <img *ngIf="!user.image" src="../../src/assets/images/User_Avatar.png" alt=""> 
                  <img *ngIf="user.image" src="{{ user.image }}" alt="">
              </div>
            </div>
          </div><br>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>

      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="Logout()">
              <ion-icon color="primary" slot="icon-only" size="large" name="exit-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
  
          <ion-title color="primary">Print Pics</ion-title>
  
          <ion-buttons slot="end">
            <ion-button (click)="toggleDarkTheme()">
              <ion-icon color="primary" slot="icon-only" name="moon-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
