<ion-content>
  <div class="mask">
    <div class="pop-up" *ngIf="formOpen === true">
      <div id="the-edit-div" (click)="closePopUp()">
        <ion-icon id="edit-icon2" src="../../assets/images/tcfpicicon.png" alt=""></ion-icon>
      </div>
      <div id="user-form">
        <div class="the-input-circles">
          <div id="color-one"></div>
          <div id="color-two"></div>
          <div id="color-three"></div>
        </div>
        <div class="user-profile">
          <img *ngIf="!profile.image" src="../../assets/images/tcfpicicon.png" alt="">
          <img *ngIf="profile.image" src="{{ profile.image }}" alt="">

          <label for="disapear">
            <ion-icon id="Addd" name="camera">
              <input id="disapear" class="image-upload" type="file" accept="image/*" (change)="changeListener($event)">
            </ion-icon>
          </label>
        </div>
        <div class="user-inputs">
          <div class="user-div">
            <div class="input-icon">
              <ion-icon name="person"></ion-icon>
            </div>
            <input type="text" placeholder="Name" [(ngModel)]="profile.username">
          </div>
          <div class="user-div">
            <div class="input-icon">
              <ion-icon name="person"></ion-icon>
            </div>
            <input type="text" placeholder="Surname" [(ngModel)]="profile.surnamez">
          </div>
          <div class="user-div">
            <div class="input-icon">
              <ion-icon name="call"></ion-icon>
            </div>
            <input type="tel" placeholder="Phone No." [(ngModel)]="profile.contact" maxlength="10"
              (keyup)="getPhoneInput($event)">
          </div>
        </div>
        <div id="the-button">
          <ion-button (click)="users()" disabled="{{buttonDisabled}}">SAVE</ion-button> <!-- -->
        </div>
      </div>
    </div>

    <!-- The begining of the everything outside pop-up (user-form) -->
    <div class="the-edit-div">
      <ion-menu-button style=""></ion-menu-button>
      <ion-icon id="edit-icon" name="create" (click)="openPopUp()"></ion-icon>
    </div>
    <div class="the-profile">
      <div class="the-circle">
        <img *ngIf="!profile.image" src="../../assets/images/User_Avatar.png" alt="">
        <img *ngIf="profile.image" src="{{ profile.image }}" alt="">
      </div>
    </div>
    <div class="the-name">
      <h1 id="namey">{{ profile.username }}</h1>
    </div>
    <div class="location">
      <ion-icon name="pin"></ion-icon>
      <p>{{ profile.cardNo }}</p>
    </div>
    <div class="the-circles">
      <div id="circle-one"></div>
      <div id="circle-two"></div>
      <div id="circle-three"></div>
    </div>
    <div class="the-information">
      <div id="user-email">
        <div id="user-email-circle">
          <ion-icon src="../../assets/images/tcfpicicon.png" alt=""></ion-icon>
        </div>
        <p>my phone</p>
        <h3><b>{{ profile.contact }}</b></h3>
      </div>
      <div id="user-email">
        <div id="user-email-circle">
          <ion-icon src="../../assets/images/tcfpicicon.png" alt=""></ion-icon>
        </div>
        <p>my email</p>
        <h3><b>{{ profile.email }}</b></h3>
      </div>
    </div>
  </div>
  <div class="cover"></div><br>
</ion-content>
