<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>My Piccz</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="art">
      <ion-icon name="color-palette-outline"></ion-icon>
      <ion-label>Art</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="feedwall">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>feedwall</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilez">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>