<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)="goToSettings()" color="primary" vertical="end" slot="start" style="margin-left: 10px;"></ion-icon>
    <ion-title color="primary">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="login-box">
    <ion-card style="color: #4c8fa3; font-weight: 500;" padding align="center">
      <img src="./../../../assets/images/tcfpicicon.png"><br>
      
      <ion-label padding>TERMS AND CONDITIONS OF USE</ion-label><br>
      <b><p>Last updated: 19 April 2021 </p></b><br>

      <p><b>Coming Soon</b></p><br>

    </ion-card>
  </div>
</ion-content>
